header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  animation: fade-down 0.9s;
}

@keyframes fade-down {
  0%{
    opacity: 0;
    transform: translateY(-30px);
  } 

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  margin-right: auto;
}

.action,
.main-menu {
  display: none;
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -1000px;
  width: 300px;
  background-color: rgba(233, 226, 226, 0.7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  transition: right .8s ease-in-out;
}

.close ,.open{
    cursor: pointer;
}

.mobile-menu a {
  color: black;
  font-weight: 700;
  font-size-adjust: 18px;
  transition: color .3s;
}

.mobile-menu a:hover {
   color:#81BC06 ; 
}

.logo {
  width: 120px;
}
